
body {
  height:3000px;
  background-image: linear-gradient(to bottom, #000, #fff);
}

.eleven h1 {
  font-size:150px;text-align:center; line-height:1.5em; padding-bottom:20%;padding-top:20%; font-family:"Arial"; text-transform:uppercase;letter-spacing: 2px; color:rgb(43, 43, 43);
  background: -webkit-linear-gradient(#fff, #1a1a1a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bottom h1 {
    font-size:150px;text-align:center; line-height:1.5em; padding-bottom:20%;padding-top:40%; font-family:"Arial"; text-transform:uppercase;letter-spacing: 2px; color:rgb(43, 43, 43);
    background: -webkit-linear-gradient(rgb(196, 196, 196), #000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

button{
    font-size:150px;text-align:center; font-family:"Arial"; text-transform:uppercase;letter-spacing: 2px; color:rgb(43, 43, 43);
}

.container {
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    display: flex;
  }
.container .btn-holder {
    justify-content: flex-end;
    display: flex;
}